# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

server {
    listen 80 default_server;
    server_name _;

    root    /var/www/synapse-admin/;
    index index.html;

    location / {
            try_files $uri $uri/ = 404;
    }
}
